:root{
    /* CSS HEX */
--gunmetal: #2b303aff;
--non-photo-blue: #92dce5ff;
--lavender-blush: #eee5e9ff;
--gray: #7c7c7cff;
--chili-red: #d64933ff;
font-family: Arial, Helvetica, sans-serif;
}

body { 
    background-color: var(--non-photo-blue);
    display: block; 
    padding: 0px; 
    margin: 0px; 
}

.sidebar{
    width: 200px; 
    height: 100vh; 
    position: fixed; 
    left: 0px;
    background-color: var(--lavender-blush);
}

.content{
    background-color: var(--gunmetal);
    position: absolute; 
    top: 0px; 
    left: calc(200px); 
    padding: 25px; 
    width: calc(100%-50px);
    color: white; 
    transition-property: left;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

button { 

    background-color: var(--chili-red);
    color: (--gunmetal);
    border-radius: 4px; 
    padding: 12px; 
    border: 0px solid; 
    margin-right: 12px; 

}

.menuButton { 
    background-color: var(--lavender-blush);
}

@media only screen AND (max-width: 1000px){

    .sidebar{
        position: fixed; 
        top: 28px;
        width: 100%; 
        height: 80vh;
        z-index: 10;
        margin: 0px;
        text-wrap: wrap; 
        display: none; 

    }

    .sidebar > p {
        margin: 0px;
        padding: 0px;
    }

    .menuButton { 
        background-color: red;
        width: 100vw; 
        z-index: 20;
        position: fixed; 
        top: 0px; 
        left: 0px;
}

        .content{
            position: absolute;
            top: 28px; 
            left: 0px; 
            width: 100%;
            z-index: 0;
        }

    
}